@model NegosudLibrary.DAO.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixVente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixVente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixAchat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixAchat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cepage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cepage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeuilReappro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeuilReappro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilleArticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilleArticle.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fournisseur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fournisseur.NomDomaine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
